.add-user-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 15%;

}

.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 900;
    background-color: grey;
    opacity: 0.5;
}